

/* ==========================================================================
   Chamara Bandara  -  custom styles
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.squaredTwo {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 20px 0;
    background: #fcfff4;
    border: 1px solid #ccc;
    float: left;
}
.squaredTwo label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
}
.termsPriv{
    position: relative;
    top: 25px;
    padding-left: 15px;
}
.squaredTwo label:after {
    content: '';
    width: 15px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 2px;
    border: 3px solid #949494;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

}
.squaredTwo label:hover::after {
  opacity: 0.3;
}
.squaredTwo input[type=checkbox] {
  visibility: hidden;
}
.squaredTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.btn {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 0;
    border: 0;
    margin-right: 10px;
}
.btn-primary {
    background-image: -webkit-linear-gradient(top,#ff0000 0,#ff0000 100%);
    background-image: linear-gradient(to bottom,#ff0000 0,#ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ff0000', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #ff0000;
    border: 1px solid #ff0000 !important;
    padding: 10px 60px !important;
}
.btn-default {
    background-image: -webkit-linear-gradient(top,#fff 0,#ffffff 100%);
    background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    text-shadow: 0 0px 0 #fff;
    border-color: #ccc;
    color: #168ccc;
    border: 1px solid #168ccc !important;
    padding: 10px 60px !important;
}
body {
	line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
    color: #757575;
    font-weight: 300;
}
.main-heading {
    color: #333;
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 10px;
}
.main-l-item-img {
    width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*temp*/
/*backgrounds*/
p {
line-height: 25px;
margin-bottom: 15px;
}
.has-error {
  background-color: #d88e92 !important;
}
h3
{
  font-weight:300;
  font-family: 'Open Sans', sans-serif;
  margin:20px 0;
  font-size: 30px;
  text-align: left;
  color: #333;
}

.margin-0
{
  margin:0 !important;
}
.padding-0
{
  padding:0 !important;
}
.small-txt {
    font-size: 12px;
    font-style: italic;
    text-align:right;
    line-height:18px;
}
.bold {
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}
.bold-links {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}
.form-section-reg{
    padding: 30px 0 100px 0;
    float: left;
}
.red-text {
    font-size: 14px;
    font-weight: 700;
    color: #970714;
}
.red-text:hover, .red-text:focus{
  text-decoration: none;
  color: #970714;
}
.form-section-reg h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}
.form-control {
    border-radius: 0;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
    font-size: 1.125rem;
    line-height: 2;
    height: 2.25rem;
}
.mail-to-link, .mail-to-link:hover, .mail-to-link:focus {
    color: #333;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}
.loading-section
{
  background-color: #f59b16;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 300000;
  vertical-align: middle;
  text-align: center;
}
.loading-section > div
{
  display: table;
  width: 100%;
  height: 100%
}
.loading-section > div > div
{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.end-loading
{
  -webkit-transition-property: all;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -moz-transition-timing-function: ease;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
    -o-transition-timing-function: ease;
    -webkit-animation-name: icons-anim;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
      transition:all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
      opacity: 0;
}
.display-none
{
  display: none;
}
.inner-text-section {
    float: left;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.slide-one-text-height{
  height: 320px;
}
.inner-text-section h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 5.5em;
    font-weight: 300;
}
.inner-text-section label {
    font-size: 31px;
}
.res-main-div-padding {
    padding: 40px 0px;
}
.red-back {
    background: #b7141c;
    
}
.red-back h3{
  color: #fff;
  margin: 10px;
}
.left-heading{
  padding-left:50px;
}
.top-spacing{
  padding-top:100px;
}
.icon-text-div h3 {
    text-align: center !important;
    font-size: 18px;
    font-weight: 700;
}
.icon-text-div p {
    text-align: center;
    font-size: 17px;
    margin: 0 
  }
.red-text-heading {
    color: #b7141c;
    font-size: 30px;
}
.medium-text {
    font-size: 15px;
}
.input-group-addon {
    background-color: #fff;
    border-radius: 0;
    border: 0;
}
/*product*/
.product .row
{
  margin:0
}
.white-text{
  color: #fff !important;
}
.black-text 
{
  color: #333;
}

.main-div, .main-div-full-height {
   display: table;
   width: 100%;
}
.hava-logo-div {
    height: 177px !important;
}

.inner-div{
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.full-width
{
  width:100%;
}
.lg-padding-0
{
  padding: 0;
}
.footer
{
  position:relative;
}
html
{
  overflow-x:hidden;
  overflow-y: scroll;
}
.form-section {
    padding: 5px 20px;
    background: #000;
}
.form-section-input {
    padding: 5px;
}
.form-section .form-group{
  margin-bottom: 0;
}

@media (min-width:768px)
{

.full-width > .row
{
  margin:0;
}

}
@media (max-width:767px)
{
.main-div
{
  height: auto !important;
  padding: 30px 10px;
}
.login-div {
  height: 100% !important;
  padding: 30px 10px;
}
.padding-0-sm
{
  padding: 0;
}

}
.school-black
{
  background-color: #333;

}
.school-black h2
{
  color:#FFF;
}
.gold-back
{
  background-color: #F4BE48;
}


.inner-text-section h2, .inner-text-section h3{
  text-align: center;
}
.btn
  border-radius: 0;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0), 0 1px 1px rgba(0,0,0,.0);
}
.btn-danger {
    background-image: -webkit-linear-gradient(top,#d9534f 0,#d9534f 100%);
    background-image: linear-gradient(to bottom,#d9534f 0,#d9534f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #b92c28;
}
.center{text-align:center}
.product_features { position: relative;display: block;float: left;}
.product_features h2 {font-family:'latolight';text-transform:uppercase;}
.featured_product {padding:90px 0;color:#fff;}
.featured_product .black {color:#373737;}
.blue_background {color:#fff;}
.featured_product h2 {
    font-size: 35px;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #202938;
    position: relative;
    z-index: 2;
    font-weight: bold;
}
.white-back h2{color: #ff9d00;}
.white-back p{color:#333;}

.featured_product input {background:none;border:3px solid #fff;font-family:'latolight';}
.white-back input{border:3px solid #333;color:#333;}
.featured_product input:hover {border:3px solid #76b7e3;transition: 0.5s ease}
.featured_product .black input {transition: 0.5s ease;background:#009EFF;color:#fff;}
.login-back .black input {
  transition: 0.5s ease;
  background: #009EFF;
  color: #fff;
  padding: 10px;
  border: rgba(0,0,0,0) 3px solid;
  margin-right: 10px;
  font-size: 17px;
}

.featured_product .black input:hover {border:3px solid #76b7e3;}
.featured_product input[type=text] {
    background: #fff;
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 0;
    border: 0;
    line-height: 35px;
    height: 36px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {display:inline-block}
.social-media {background:#202528;text-align:center;}
.social-media li {display:inline-block}
.social-media li i {padding:15px 70px;color:#FFF;font-size:60px}
.social-media li:hover i {background:#333;transition: 0.5s ease}

.copyright {background:#242424;padding:30px 0;color:#fff;}
.quick_links .quick_links_wrap {width:90%;margin:auto}
.hellow button {color:#fff;background:#4583c4;padding:10px 50px;border:0}
.hellow button:hover {color:#3b3b3b;transition: 0.5s ease}
.hellow button i {padding-left:5px}

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0px;
  text-decoration: none;
  color: #FFF;
  background-color: rgba(23, 89, 149, 0.8);
  font-size: 12px;
  padding: 9px 12px;
  display: none;
}
.back-to-top i {
  font-size: 15px;
}
.back-to-top:hover {
  color: #FFF;
  background-color: #175995;
  transition: 0.5s ease
}
.back-to-top:focus {
  color: #FFF;
}

/* paralax scroll */

.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
#slide-3 .bcg {background-image:url(../img/ban_3.jpg) !important}
#slide-2 .bcg {background-image:url(../img/ban_1.jpg) !important}
#slide-1 .bcg {background-image:url(../img/ban_2.jpg) !important}
/*  ---------------  */
/*slide-show styles*/
#slideshowWrapper{position:relative;width:100%;margin:auto;}
#fssPrev{position:absolute;top:169px;left:-67px;background:url(arrows.png) -67px 0px;width:67px;height:143px;text-indent:-999999px;}
#fssNext{position:absolute;top:169px;left:646px;background:url(arrows.png) no-repeat;width:67px;height:143px;text-indent:-999999px;}
#fssPlayPause{position:absolute;top:435px;right:20px;background:url(white.png) repeat;padding:4px 0 5px 0;-moz-border-radius:5px;border-radius:5px;width:60px;text-align:center;display:block;color:#333;text-decoration:none;display:none;}

ul#slideshow{list-style:none;border:none;padding:0px;  margin:auto;width:100%;overflow:hidden;}
.login-div {
    float: right;
    padding-right: 15px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.login-div a {
    float: right;
    padding: 8px 17px;
    font-size: 120%;
    color: #fff;
}
.login-div a i {
    cursor: pointer;
}
.user-image-wrapper {
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 90px;
    overflow: hidden;
}
.user-image-wrapper img {
    width: 120%;
    border-radius: 90px;
}
.margin-top-min-16
{
	margin-top:-16px;
}
/*register-page*/
.wizard-wrapper {
    float: left;
    width: 100%;
    background: #eee;
    margin-top: 51px;
}
.wiz-steps li a {
    font-size: 1.325rem;
    font-weight: 300;
    padding: 1.25rem;
    box-sizing: border-box;
    float: left;
    line-height: 1.15;
    max-width: 25%;
    min-width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
        color: #a8a8a8;
        cursor:pointer;
}
.wiz-steps li a:hover{
  text-decoration: none;
}
ul.wiz-steps li a.active{
      background-color: #acacac;
    color: #fff;
}
.destination-lbl {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 5px 10px;
}
.info-lbl{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #aaa;
    font-weight: 300;
}
.half-label {
    max-width: 46%;
    
}
.destination-label {
    border-right: 1px solid #ccc;
}
.destination-label:last-child {
    border-right:0;
}
.sub-section {
    float: left;
    width: 100%;
    padding-bottom: 75px;
}
.header-section {
    float: left;
    width: 100%;
    padding: 17px 0 0px 0;
    border-bottom: #ccc solid 1px;
    margin-bottom: 10px;
}
.capacity-span {
    padding: 20px 20px 20px 0;
    float: left;
}
.list-item-info-lbl i {
    position: absolute;
    left: 18px;
    font-size: 150%;
}
.list-item-info-lbl {
    width: 100%;
    padding: 10px 10px 10px 30px;
    float: left;
}
.btn-wrapper {
    padding: 10px;
    background: #eee;
    margin: 15px 0;
}
.price-lbl {
    font-size: 36px;
    color: #333;
    padding: 10px 10px 15px 10px;
}
.small-text {
    font-size: 12px;
    color: #333;
    padding: 10px 0 20px;
}
/*end*/
@media (max-width: 320px) {
	.social-media li i {padding:15px;font-size:24px}
	.product_features h2 {font-size:25px;}
}
@media (min-width:321px) and (max-width: 480px)  {
	.social-media li i {padding:15px;font-size:30px}
	.product_features h2 {font-size:25px;}
}
@media (min-width:481px) and (max-width: 767px)  {
	.social-media li i {padding:25px;font-size:50px}
}

@media (min-width: 768px) {

.login-head
{
 font-family: 'Open Sans', sans-serif;
  font-size: 3.5em;
  color:#33BCF9;
  float:left;
  margin:15px 0;
}

}
@media (max-width: 768px) {
  .wizard-wrapper {
    margin-top: 0px;
}
.btm_spacing {margin-bottom:10px}
.res-margin-0{margin:-30px;}
.xs-margin-0{
  margin:0 !important;
}
#slide-2 .bcg {
    background: none repeat scroll 0 0 #175995;
}
.featured_product input{
	padding:15px 30px ; 
	font-size:14px;
}

.featured_product h2
{
  font-family: 'Open Sans', sans-serif;
	font-size:2em;
	line-height:30px;
  text-align: center;
}
.featured_product p{
  text-align: center;
  font-size: 12px;
}
}

@media (min-width:769px) and (max-width: 1250px)  {
	.social-media li i {padding:35px;font-size:80px}
	.navbar-brand {line-height:9px}
	.navbar a {font-size:12px}
        .product-line img {width:14%}
    .product-line li {display:inline}    
.product-line li:hover {background:none}
.product-line img:hover {background:#45A8DE;transition: 0.5s ease}
}
 ul.menaimenu-v3 li a:hover, ul.menaimenu-v3 li a:focus{text-decoration:none;color:#ffa700;}
.first-copy {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}
.res-men{
  display: none;
}
 @media (max-width:769px){
      .top-menu-container-v3 {
        width: 240px;
        right: -240px;
        height: 100%;
        left: auto;
        z-index: 7;
        -webkit-transition-property: all;
      -webkit-transition-duration: 0.4s;
      -webkit-transition-timing-function: ease;
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: ease;
      -moz-transition-property: all;
      -moz-transition-duration: 0.4s;
      -moz-transition-timing-function: ease;
      -o-transition-property: all;
      -o-transition-duration: 0.4s;
      -o-transition-timing-function: ease;
      -webkit-animation-name: icons-anim;
      -webkit-animation-timing-function: ease;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-duration: 0.8s;
      -webkit-transform-style: preserve-3d;
    }
    .top-menu-container-v3-move-in{
        right: 0;
        border-left: 1px solid rgba(51, 51, 51, 0.18);
    }
    .menu-items-v3 {
        height: 100%;
    }
        .menaimenu-v3 li {
        color: #fff;
        display: block;
        padding: 13px;
        width: 100%;
        border-bottom: 1px solid rgba(51, 51, 51, 0.12);
    }
    ul.menaimenu-v3 li a {
        color: #707070;
    }
    .res-men {
        font-size: 145%;
        color: rgba(2, 2, 2, 0.5);
        position: fixed;
        top: 10px;
        right: 19px;
        z-index: 6;
        padding: 0;
        cursor: pointer;
        display: block;
    }
    .res-men i{
      height: 6px;
      webkit-box-shadow: 0px 4px 22px 11px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 4px 22px 11px rgba(255,255,255,0.75);
    box-shadow: 0px 4px 22px 11px rgba(255, 255,255,0.75);
    }
    .basic-list li {
        text-align: center;
    }
    .img-wrapper-port {
    margin-top: 150px;
    }
    .img-wrapper-port img {
    width: 200% !important;
    }
    h3 {
    text-align: center !important;
    }
 }
.phone-number {
    text-align: center;
    font-size: 17px;
    margin-bottom: 15px;
}
 /*--------*/
h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color:#333;
}
p{
  text-align: left;
  font-size: 14px;
  margin-bottom: 15px;
  color:#333;
}
.form-section h4 {
    font-weight: 700;
    font-size: 15px;
}
/*-------------------------*/
.skills-label {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: -11px;
    line-height: 33px;
    color: #333;
}
.skill-exp {
    font-size: 14px;
    padding: 15px 30px;
    color: rgba(51, 51, 51, 0.67);
    font-weight: 400;
}
.mkt-copy {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #333;
}
.copyright p {
    color: rgba(255, 255, 255, 0.44);
    font-size: 11px;
    text-align: center;
}
.dark-back {
    background: rgba(51, 51, 51, 0.76);
    height: 210px;
    width: 100%;
    position: absolute;
    top: -55px;
    -webkit-filter: blur(41px);
    -moz-filter: blur(41px);
    -o-filter: blur(41px);
    -ms-filter: blur(41px);
    filter: blur(41px);
    z-index: 0;
}
/*spinning wheel*/
.spinner {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.43);
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.content-3 {
    position: relative;
}
.pn-sect {
    width: 100%;
    display: block;
    background: #a7a5a5;
    float: left;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    padding: 10px 0 0px 0;
}
.pn-sect .phone-number{
  color:#fff;
}

.tab-btn{
  font-size: 15px;
}
.tab-btn:hover{
  text-decoration: none;
}
.btn-div{
  float: left;
  width:100%;
}
.vehec img{
  width:100%;
}
.tabPane {
    float: left;
    width: 100%;
}
.tab-btn {
    font-size: 15px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.38);
    cursor: pointer; 
    padding: 2px 15px;
}
.tab-btn:hover{
  color: rgba(255, 255, 255, 1);
}
.active-tab {
    border-bottom: 1px solid #eee;
    color: rgb(255, 255, 255);
}
.arrow-down {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fdfdfd;
    margin: 0 0 15px 0;
    position: relative;
    bottom: -24px;
    left: 8px;
}
.top-menu-container-v3 {
    position: fixed;
    padding: 0;
    z-index: 3;
    float: left;
    background: none;
    top: 0;
    left: 0;
    width: 100%;
}
.menu-items-v3 {
    padding: 15px 10px;
    background: #333;
    width: 100%;
    border-bottom: 3px solid rgba(51, 51, 51, 0.11);
    float: right;
    font-size: 1em !important;
}
.menaimenu-v3 li {
    color: #fff;
    display: inline;
    padding: 25px;
    font-size: 14px;
    font-weight: 700;
}
ul.menaimenu-v3 li a {
    color: #fff;
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@media (max-width:769px) and (min-width:600px){
  .tab-trans-filter, .main-div-tab{
    height: 689px !important;
  }
}
@media (max-width:769px){
.top-spacing{
  padding-top:20px;
}
.form-section-reg {
    padding: 30px 15px 100px 15px;
    width: 100%;
}
.slide-one-text-height {
    height: auto;
}
.res-main-div-padding {
    padding: 10px 0px;
}
h3 {
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.small-txt{
  text-align: center;
}
.bold {
  text-align: center;
}
.wiz-steps li a {
    font-size: 0.8rem;
    max-width: 18%;
    padding: 0.85rem .25rem;
}
.left-heading {
    padding-left: 0;
}
.res-height-one{
  height: 250px !important;
}
.red-back {
    background: #fff;
}
.red-back h3 {
    color: #b7141c;
    margin: 10px;
}
.xs-padding-0{
  padding: 0 !important;
}
.red-text-heading {
    font-size: 20px;
}
.btn {
    font-size: 13px;
}
.tab-btn {
    font-size: 11px;
}
.icon-text-div h3 {
    font-size: 15px;
}
.vehec img{
  width:50%;
}
.arrow-down {
    bottom: -19px;
}
.tab-btn {
    text-align: left;
    padding: 2px 0px;
}
.commity-members-div{
  padding: 40px;
}

.top-menu-container-v3 {
    width: 240px;
    right: -240px;
    height: 100%;
    left: auto;
    z-index: 7;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -moz-transition-timing-function: ease;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
    -o-transition-timing-function: ease;
    -webkit-animation-name: icons-anim;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-style: preserve-3d;
}
.top-menu-container-v3-move-in {
    right: 0;
    border-left: 1px solid rgba(51, 51, 51, 0.18);
}
.menu-items-v3 {
    height: 100%;
}
.menaimenu-v3 li {
    color: #fff;
    display: block;
    padding: 13px;
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.12);
}
ul.menaimenu-v3 li a {
    color: #707070;
}
}
@media (max-width:769px) and (min-width:481px){
.main-div-full-height, .main-div{
  height: 388px !important;
  padding: 20px 0
}
}
@media (max-width:480px) and (min-width:320px){
  .btn {
    font-size: 8px;
}
.res-img{
  width:50%;
}
.main-div-full-height, .main-div{
  height: auto !important;
  padding: 20px 0
}

}

.option-price {
        float: right;
    margin-right: 50px;
    margin-top: 20px;
    color: white;
    background-color: red;
    padding: 10px 20px;

}
.option-price label{
    font-weight:bold;
    font-size: x-large;
    font-family: serif;
}

hr {
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    /* margin: 1em 0; */
    padding: -10px;
    z-index: 1000;
    margin-top: 33px;
    position: absolute;
    margin-left: 94px;
}

.hedding{
        background-color: red;
    height: 40px;
    color: white;
    padding: 10px 0px 10px 10px;
    font-weight: bold;
    font-style: unset;
    width: 400px;
}

.borderless td, .borderless th {
    border: none;
}
.td-first-cloumn{
border: 1px solid;
    width: 329px;
}
.td-others{
width: 80px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff !important;
  background-color: red !important;
  border-color: red !important;
  background-image: linear-gradient(to bottom,red 0,red 100%);
}
