WebMVC/Web.config
WebMVC/bin/
HavaBusinessObjects/bin/
HavaBusinessObjects/bin
HavaBusiness/bin/*
HavaBusinessObjects/bin/*
.vs/config/applicationhost.config
.vs/HavaApp/v14/.suo
HavaBusiness/bin/HavaBusiness.dll
HavaBusiness/bin/HavaBusiness.pdb
HavaBusiness/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HavaBusiness/obj/Debug/HavaBusiness.csproj.FileListAbsolute.txt
HavaBusiness/obj/Debug/HavaBusiness.csprojResolveAssemblyReference.cache
HavaBusiness/obj/Debug/HavaBusiness.dll
HavaBusiness/obj/Debug/HavaBusiness.pdb
HavaBusiness/Web.config
HavaBusinessObjects/bin/HavaBusiness.dll
HavaBusinessObjects/bin/HavaBusiness.pdb
HavaBusinessObjects/bin/HavaBusinessObjects.dll
HavaBusinessObjects/bin/HavaBusinessObjects.pdb
HavaBusinessObjects/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HavaBusinessObjects/obj/Debug/HavaBusinessObjects.csproj.FileListAbsolute.txt
HavaBusinessObjects/obj/Debug/HavaBusinessObjects.csprojResolveAssemblyReference.cache
HavaBusinessObjects/obj/Debug/HavaBusinessObjects.dll
HavaBusinessObjects/obj/Debug/HavaBusinessObjects.pdb
WebMVC/bin/HavaBusiness.dll
WebMVC/bin/HavaBusiness.pdb
WebMVC/bin/HavaBusinessObjects.dll
WebMVC/bin/HavaBusinessObjects.pdb
WebMVC/bin/WebMVC.dll
WebMVC/bin/WebMVC.pdb
WebMVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebMVC/obj/Debug/WebMVC.csproj.FileListAbsolute.txt
WebMVC/obj/Debug/WebMVC.csproj.GenerateResource.Cache
WebMVC/obj/Debug/WebMVC.csprojResolveAssemblyReference.cache
WebMVC/obj/Debug/WebMVC.dll
WebMVC/obj/Debug/WebMVC.pdb
WebMVC/WebMVC.csproj.user
