<!-- Start of Sub Content -->
<div class="row">
    <div class="col-sm-12">
        <div class="action_panel">
            <div class="btn-pnl padding-fix">
                <h3><a ui-sref="app.customer.list">Customer</a><span class="angle"><i class="fa fa-angle-double-right"></i></span> <span class="sub-head">Dealer - View </span></h3>
            </div>

            <div class="btn-pnl-btns">
                <button class="btn btn-default" ui-sref="app.customer.list" type="button">Back</button>
                <button class="btn btn-primary" ng-click="toEditPage()" type="button">Edit</button>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <form class="form-horizontal">
                    <div class="col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="" class="col-lg-5 col-md-5 col-sm-6 col-xs-12"><strong>Status:</strong></label>
                                    <label for="" ng-show="dealer.isActive==1" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">Active</label>
                                    <label for="" ng-show="dealer.isActive==0" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">Inctive</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <h4><span class="sect-number">1</span> Dealer Company Details</h4>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Customer Id:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.id}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Org Name:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.orgName}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Org Registration Number:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.registrationNumber}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Legal Name:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.legalName}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Store:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.store}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Address:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.address}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>City:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.city}}</label>

                        </div>
                        
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Country:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.country}}</label>

                        </div>
                        <div class="form-group uppercase-fix">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Postal Code/ Zip Code:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.postalCode}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Billing Address:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.billingAddress}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Telephone number:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.teleNumber}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Email:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.email}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Web Site:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.companyDetails.webSite}}</label>

                        </div>


                        <h4></h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <h4><span class="sect-number">2</span> Dealer's Representative</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <ac-grid options="representativeViewGridOptions" filter-criteria="filterCriteria" filter-function="searchFunction" data="representativeData" action="action" class="ang-grid"></ac-grid>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <h4><span class="sect-number">3</span> Co-Operation Partner Details</h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Co-op Partner Name:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.partners.name}}</label>

                        </div>

                        <div class="form-group">
                            <label for="" class="col-lg-5 col-md-5 col-sm-6 col-xs-12"><strong>Partnership Status:</strong></label>
                            <label for="" ng-show="dealer.partners.partnershipStatus==1" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">Active</label>
                            <label for="" ng-show="dealer.partners.partnershipStatus==0" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">Inctive</label>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <h4><span class="sect-number">4</span> AutoConcept Representative for Dealer</h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Representative's Name:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.acRepresentatives.name}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>ID Number:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.acRepresentatives.id}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Title:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.acRepresentatives.title}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Mobile Number:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.acRepresentatives.mobileNo}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Email:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.acRepresentatives.email}}</label>

                        </div>



                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <h4><span class="sect-number">5</span> Payment Details</h4>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Bank:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.bankDetails.bank}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Clearing No:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.bankDetails.clearingNo}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Account No:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.bankDetails.accNo}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Bankgiro:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.bankDetails.bankgiro}}</label>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" for=""><strong>Postgiro:</strong></label>

                            <label for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">{{dealer.bankDetails.postgiro}}</label>

                        </div>                        
                    </div>

                </form>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="panel-group accordion no-background" id="accordion3">
                        <div class="panel panel-default">
                            <div class="panel-heading relative">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#section1"> Products </a> </h4>
                            </div>
                            <div id="section1" class="panel-collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-bordered " id="">
                                                <thead>
                                                    <tr>
                                                        <th>Product ID</th>
                                                        <th>Product Type</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="click-row off-click">
                                                        <td><a href="#" class="click-cell">001</a></td>
                                                        <td><a href="#" class="click-cell">Nubil Gold</a></td>
                                                        <td style="width:15%;" class="action"><a class="link-action" href="#"><i class="access-link fa fa-eye"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default relative">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#section2">Warranties</a> </h4>
                            </div>
                            <div id="section2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-bordered " id="">
                                                <thead>
                                                    <tr>
                                                        <th>Warranty ID</th>
                                                        <th>Product</th>
                                                        <th>Registration No</th>
                                                        <th>Price</th>
                                                        <th>Invoice Number</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="click-row off-click">
                                                        <td><a href="#" class="click-cell">001</a></td>
                                                        <td><a href="#" class="click-cell">NubilGoldA</a></td>
                                                        <td><a href="#" class="click-cell">0345</a></td>
                                                        <td><a href="#" class="click-cell">345</a></td>
                                                        <td><a href="#" class="click-cell">98</a></td>
                                                        <td style="width:15%;" class="action"><a class="link-action" href="#"><i class="access-link fa fa-eye"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default relative">
                            <div class="panel-heading">

                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#section3"> Claims</a> </h4>
                            </div>
                            <div id="section3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-bordered " id="">
                                                <thead>
                                                    <tr>
                                                        <th>Claim ID</th>
                                                        <th>Description</th>
                                                        <th>End Customer</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="click-row off-click">
                                                        <td><a href="#" class="click-cell">001</a></td>
                                                        <td><a href="#" class="click-cell">Gear box repair</a></td>
                                                        <td><a href="#" class="click-cell">Adam Smith</a></td>
                                                        <td><a href="#" class="click-cell">Accepted</a></td>
                                                        <td style="width:15%;" class="action"><a class="link-action" href="#"><i class="access-link fa fa-eye"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END of Sub Content -->