<div class="row statics" ng-hide="hideStats">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    1489
                </div>
                <div class="desc">
                    Warranties Sold
                </div>
            </div>
            <a class="more" href="">
                View Sales Summary <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    23
                </div>
                <div class="desc">
                   Claim Requests
                </div>
            </div>
            <a class="more" href="">
                View Full Report <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    45
                </div>
                <div class="desc">
                    Dealers Had Sales
                </div>
            </div>
            <a class="more" href="">
                View Dealer Sales <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    +29%
                </div>
                <div class="desc">
                    Increased Sales
                </div>
            </div>
            <a class="more" href="">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>