<div class="row">
<div class="col-sm-12">
    <div class="action_panel">
        <div class="pull-left btn-pnl padding-fix">
            <h3><a ui-sref="^.list">Insurance Information</a><span class="angle"><i class="fa fa-angle-double-right"></i></span> <span class="sub-head">View</span> - 22544</h3>
        </div>
        <div class="pull-right btn-pnl">
            <button class="btn btn-default" type="button" ui-sref="^.list">Cancel</button><button class="btn btn-primary" type="button" ng-click="goToUpdate()">Edit</button>

        </div>
    </div>
    <div class="content">
        <div class="row">
            <form class="form-horizontal">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Setup:</strong></label>
                                <div class="col-lg-7 col-md-7 col-sm-6">
                                    <label>Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="panel-group accordion no-background" id="accordion3">
                        <div class="panel panel-default">
                            <div class="panel-heading relative">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-placeholderent="#accordion3" href="#section0"><span class="sect-number">1</span>Product Details</a> </h4>
                            </div>
                            <div id="section0" class="panel-collapse in">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="" class="col-lg-5 col-md-5 col-sm-6 col-xs-12"><strong>Product Name: </span></strong></label>
                                            <div for="" class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                                <label>Toyota</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Product ID:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>0012</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group uppercase-fix">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Country:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Sweden</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Language:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Swedish</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered " id="">
                                                <thead>
                                                    <tr>
                                                        <th>Cover ID</th>
                                                        <th>Insurer</th>
                                                        <th>Name</th>
                                                        <th>Period</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="click-row off-click">
                                                        <td><a href="#" class="click-cell">001</a></td>
                                                        <td><a href="#" class="click-cell">Lloyds</a></td>
                                                        <td><a href="#" class="click-cell">Nybil Gold</a></td>
                                                        <td><a href="#" class="click-cell">6-12-18-24</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Eligibility Km:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>15</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Eligibility Year:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>2010</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Mileage Cap:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>2500</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Year Cap:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>25</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group uppercase-fix">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Excess:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>1000</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Claim Limit:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>5000</label>
                                            </div>
                                        </div>
                                        <div class="form-group uppercase-fix">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Product Description:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Lorem Ipsum</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading relative">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#section1"><span class="sect-number">2</span>Insurance Details</a> </h4>
                            </div>
                            <div id="section1" class="panel-collapse in">
                                <div class="row">
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Key Plate No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>145003354</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Registered Through:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Lloids</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Created Date: </strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>2015-1-21</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Arrival Date:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>2015-2-10</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Insurer Name:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Lloyds</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Invoice Recipient:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Ulf Coxner</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Start Date:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>2015-1-20</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Period:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>12-18</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>End Date:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>2017-2-2015</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Invoice Date:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>2015-2-20</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Paid Date:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>2015-2-20</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Insurance Status:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Invoice Recipient</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading relative">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#section2"><span class="sect-number">3</span>Component Details</a> </h4>
                            </div>
                            <div id="section2" class="panel-collapse in">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Component Group Name:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Breaks</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Component Group ID:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>1000</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Systems & Components:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <div class="col-md-7 col-sm-6 col-xs-12">
                                                    <div class="selected-list">
                                                        <ul class="items-selected">
                                                            <li class="item1">
                                                                Break
                                                                <ul class="no-style-sub-list">
                                                                    <li class="item2">item 02</li>
                                                                    <li class="item3">item 03</li>
                                                                </ul>
                                                            </li>
                                                            <li class="item4">
                                                                Engine
                                                                <ul class="no-style-sub-list">
                                                                    <li class="item2">item 02</li>
                                                                    <li class="item3">item 03</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading relative">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#section1"><span class="sect-number">4</span>Vehicle Details</a> </h4>
                            </div>
                            <div id="section1" class="panel-collapse in">
                                <div class="row">
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Reg. No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>15-4578</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Chassis No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>125-458-257-520</label>
                                            </div>
                                        </div>
                                        <div class="form-group uppercase-fix">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong><span>DOFR:</span></strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>2015-2-25</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Engine Capacity:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>1200</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Engine Power:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>500</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Vehicle Type:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Truck</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Brand Name:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Toyota</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Model:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>ranger</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Mileage:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>1500</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Fuel Type:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Petrol</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Gearbox:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Manuel</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>transmission:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Manuel</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Purchased Price:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>2500</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading relative">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#section3"><span class="sect-number">5</span>Vehicle Owner Details</a> </h4>
                            </div>
                            <div id="section3" class="panel-collapse in">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Customer:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Ulf Coxner</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Customer ID:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>55001</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Category:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Truck</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>First Name:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Ulf</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Last Name:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Coxner</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Address:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Lorem Ipsum</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Postal code / <span>Z</span>ip Code:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>12FF 14HJ</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>City:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>London</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Country:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>London</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Telephone No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>08000215410</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Telephone Fax:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>08140205502</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Email:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>ulf@autoconcept.com</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Bank:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Barkleys</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Clearing No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>544554</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Account No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>108-1245-4587-55-52</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Bankgiro:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>15-48-78-50</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Postgiro:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>14-48-52-45</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row hidden">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Org. Name:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Autoconcept</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Address:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Lorem Ipsum</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Postal code / <span>Z</span>ip Code:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>14DF 15HG</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>City:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>London</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Country:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>UK</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Telephone No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>04478522154</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Telephone Fax:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>08145121313131</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Email:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>ulf@autoconcept.com</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Bank:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Barkleys</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Clearing No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>15-15-48-26-154</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Account No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>456-789-456</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Bankgire:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>17-93-97-13</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Postgiro:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>17-93-82-46</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading relative">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#section4"><span class="sect-number">6</span>Dealer Details</a> </h4>
                            </div>
                            <div id="section4" class="panel-collapse in">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Dealer Name:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Charlie Brown</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Co-Op Partner:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Lloyds</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Billing Address:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Lorem Ipsum</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Dealer Phone No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>789-852-159-445</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Rep's Name:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Aron Finch</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Email:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>aron@hotmail.com</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Rep. Tel. No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>45-7789811</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Rep. mobile No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>072-182-7690</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading relative">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#section7"><span class="sect-number">7</span>Finance Company Details</a> </h4>
                            </div>
                            <div id="section7" class="panel-collapse in">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Company Name:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Lloyds</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Company ID:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>45444</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Address:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>Lorem ipsum</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong><span>Z</span>ip Code / Post Code:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>33DF 34FF</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>City:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>London</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Tele No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>789-458-524</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Telefax No:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>789-159-753</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Email:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>sam@hotmail.com</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading relative">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#section5"><span class="sect-number">8</span>Insurance Expiration Reminders</a> </h4>
                            </div>
                            <div id="section5" class="panel-collapse in">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Expiring 1st Reminder:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>30</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Expiring 2st Reminder:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>60</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Expiring 3st Reminder:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>90</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading relative">
                                <h4 class="panel-title"> <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#section10"><span class="sect-number">9</span>Insurance Expiration Reminders</a> </h4>
                            </div>
                            <div id="section10" class="panel-collapse in">
                                <div class="row">
                                    <!--<div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <h6><strong>Price Setting</strong></h6>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Loading %:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>10</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Discount%:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>10</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>UW:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>10</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Commission %:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>5</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Insurance Tax %:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>4</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>VAT %:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>12</label>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Product Price:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>400</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Discount:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>300</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>UW Premium:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>150</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Commission:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>500</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Insurance Tax:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>80</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>VAT:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>80</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Customer to pay:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>1400</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-5 col-md-5 col-sm-6" for=""><strong>Profit Margin for Autoconcept:</strong></label>
                                            <div class="col-lg-7 col-md-7 col-sm-6">
                                                <label>300</label>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
          </div>