<div class="ngCellText" ng-cell-text ng-class="col.colIndex()" ng-hide="row.isDeleted">
    <a class="link-action" ng-click="action()(row,'view')"><i class="fa fa-eye"></i></a>
    <a class="link-action" ng-click="action()(row,'bundle')" ng-show="row.type == 'DealerProduct'"><i class="access-link fa fa-archive"></i></a>
    <a class="link-action" ng-click="action()(row,'edit')"><i class="access-link fa fa-pencil-square-o"></i></a>
    <a class="link-action" ng-click="action()(row,'delete')"><i class="fa fa-trash"></i></a>
</div>