<div class="infobar cf" ng-show="infoMsg">
    <div class="col-sm-12">
        <div class="row">
            <span ng-bind-html="infoMsg"></span>
            <span class="x-btn"><a href="" ng-click="clearMsg()"><i class="fa fa-remove"></i></a></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="action_panel">
            <div class="btn-pnl padding-fix">
                <h3>Letter Template Management</h3>
            </div>
            <div class="btn-pnl-btns">
                <!-- <button class="btn btn-primary" type="button" ui-sref="^.form">Add New</button>-->
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="search pull-left">
                    <div class="input-group pull-left ">
                        <input type="text" ng-change="searched = false" class="form-control text-box page-search-box ng-valid ng-touched ng-dirty ng-valid-parse" placeholder="Search" ng-model="filterCriteria.searchData" ng-keyup="$event.keyCode == 13 && searchFunction(true)">
                        <span class="go-search hide" ng-class="{'show':filterCriteria.searchData && !searched}" id="go-searchId">
                            <a href="" ng-click="searchFunction(true)"><i class="fa fa-arrow-circle-right"></i></a>
                        </span>

                        <span class="search-icon"><i class="fa fa-search"></i></span>
                        <span class="clear-txt hide" ng-class="{'show':filterCriteria.searchData && searched}" id="search-clar-text-id">
                            <a href="" ng-click="clearSearch()"><i class="fa fa-times-circle font-gray"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <form>
                <ac-grid options="letterGridOptions" filter-criteria="filterCriteria" filter-function="searchFunction" data="data" action="action" class="ang-grid"></ac-grid>
            </form>
        </div>

    </div>
</div>
</div>
