<div class="row">
    <div class="col-sm-12">
        <div class="action_panel">
             <div class="btn-pnl padding-fix">
                <h3><a ui-sref="^.list">Letter Template</a><span class="angle"> <i class="fa fa-angle-double-right"></i></span><span class="sub-head">Terms and Conditions Letter</span></h3>
            </div>
            <div class="btn-pnl-btns">
                <button type="button" class="btn btn-default" data-placement="bottom" ui-sref="^.list">Cancel</button>
                <button class="btn btn-primary" type="button">Update</button>
                <button class="btn btn-primary" type="button">PDF Preview</button>
            </div>
        </div>
        <div class="content">
            <div class="col-sm-12">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-md-push-6 col-sm-push-6">
                                    <div class="row">
                                       
                                        <div class="avatar avatar-possition-wrapper">
                                            <div class="default-circle hidden">
                                                <span class="fn">IU</span>
                                            </div>
                                            <div class="default-circle" ng-show="uploadedFilePath">
                                                <img ng-src="{{uploadedFilePath}}" alt="user-avatar" class="profile-avatar" />
                                            </div>
                                            <div class="default-circle" ng-hide="uploadedFilePath">
                                                <img alt="user-avatar" class="profile-avatar" ng-src="{{webUrl}}assets/global/img/logo.png">
                                                <a href="" data-toggle="modal" data-target="#add-picture" class="btn btn-primary btn-block" ng-click="uploadImagePopup()" ng-hide="uploadedFilePath">Upload new logo</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-md-pull-6 col-sm-pull-6">
                                    <form class="form-horizontal uppercase-fix" name="termsFrom">
                                        <div class="form-group">
                                            <label for="" class="col-sm-12"><strong>Letter Header:</strong></label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="Letter Header" ng-disabled="readOnly">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-12"><strong><span>ID</span> Number:</strong></label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="ID Number" ng-disabled="readOnly">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <label for="" class="col-sm-12"><strong>Duration:</strong></label>
                                                </div>
                                                <div class="col-sm-6 two-text-field-padding-fix-left">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                                                <input type="text" class="form-control" name="datepicker" ng-disabled="readOnly" placeholder="YYYY-MM-DD">
                                                                <span class="input-group-btn">
                                                                    <button class="btn default" type="button" ng-disabled="readOnly"><i class="fa fa-calendar"></i></button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 two-text-field-padding-fix-right">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                                                <input type="text" class="form-control" name="datepicker" ng-disabled="readOnly" placeholder="YYYY-MM-DD">
                                                                <span class="input-group-btn">
                                                                    <button class="btn default" type="button" ng-disabled="readOnly"><i class="fa fa-calendar"></i></button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-12"><strong>Terms <span>ID</span>:</strong></label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" value="25468" ng-disabled="readOnly">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <hr>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <form class="form-horizontal uppercase-fix">
                                        <div class="form-group">
                                            <label for="" class="col-sm-12"><strong>Short Description:</strong></label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="ID Number" ng-disabled="readOnly">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group">
                                    <label for="" class="col-sm-12"><strong>Mail Body:</strong></label>
                                    <div class="col-sm-12">
                                        <textarea class="ckeditor form-control" name="editor2" rows="6" data-error-container="#editor2_error"></textarea>
                                        <div id="editor2_error"> </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <hr>
                                <div class="col-sm-12 text-center">
                                    <label class="company-name-label">
                                      
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>