@*<div class="alert alert-success">
    <div class="col-sm-12">
        <div class="row">
            <span>{{infoMsg}}sample text</span>
            <span class="x-btn"><a href="" ng-click="clearMsg()"><i class="fa fa-remove"></i></a></span>
        </div>
    </div>
</div>

<div class="alert alert-info">
    <div class="col-sm-12">
        <div class="row">
            <span>{{infoMsg}}</span>
            <span class="x-btn"><a href="" ng-click="clearMsg()"><i class="fa fa-remove"></i></a></span>
        </div>
    </div>
</div>

<div class="alert alert-warning">
    <div class="col-sm-12">
        <div class="row">
            <span>{{infoMsg}}</span>
            <span class="x-btn"><a href="" ng-click="clearMsg()"><i class="fa fa-remove"></i></a></span>
        </div>
    </div>
</div>

<div class="alert alert-danger">
    <div class="col-sm-12">
        <div class="row">
            <span>{{infoMsg}}</span>
            <span class="x-btn"><a href="" ng-click="clearMsg()"><i class="fa fa-remove"></i></a></span>
        </div>
    </div>
</div>*@

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
        <div class="row x_title">
            <div class="col-md-6">
                <h3>Booking <small>List</small></h3>
            </div>
            <div class="col-md-6">

            </div>
            @*<div class="nav navbar-right panel_toolbox">
                    <button class="btn btn-primary" type="button" ui-sref="^.add">Create TSP</button>
                </div>*@

        </div>
        <div>
            <div>
                @*<div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="ddpFrom" class="form-group">
                                <div class="input-group input-append date date-picker">
                                    <span class="input-group-addon"><i class="fa fa-calendar" style="font-size: 168%;" ng-click="selectDate('inputGroupSuccessDate')"></i></span>
                                    <input type="text" ng-class="{'has-error' : (!fromDate && submitted)}" class="form-control" id="inputGroupSuccessDate" aria-describedby="inputGroupSuccess1Status" ng-model="fromDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="ddpTo" class="form-group">
                                <div class="input-group input-append date date-picker">
                                    <span class="input-group-addon"><i class="fa fa-calendar" style="font-size: 168%;" ng-click="selectDate('inputGroupSuccessDate2')"></i></span>
                                    <input type="text" ng-class="{'has-error' : (!toDate && submitted)}" class="form-control" id="inputGroupSuccessDate2" aria-describedby="inputGroupSuccess2Status" ng-model="toDate">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>*@
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" name="bstatus" ng-options="stat.name for stat in bookingStatus track by stat.id" ng-model="search.bstatus">
                                    <option value="">-- Select a Status --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" name="partner" ng-options="stat.name for stat in partners track by stat.id" ng-model="search.partner">
                                    <option value="">-- Select a partner --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="input-group input-append date date-picker">
                                    <button class="btn btn-danger main-btn btn-block" ng-click="searchBookings(search)" type="button">Export</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <table id="datatable-booking" class="table table-striped table-bordered dataTable no-footer">
            <thead>
                <tr>
                    <th>RefNo</th>
                    <th>Partner</th>
                    <th>BookingType</th>
                    <th>PickupDate</th>
                    <th>PickupTime</th>
                    <th>PickupLocation</th>
                    <th>ReturnDate</th>
                    <th>ReturnTime</th>
                    <th>DropLocation</th>
                    <th>BookingStatus</th>
                    <th></th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
        <div class="clearfix"></div>
    </div>
</div>