<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
        <div class="row x_title">
            <div class="col-md-6">
                <h3>Booking <small>List</small></h3>
            </div>
            <div class="col-md-6">

            </div>
            @*<div class="nav navbar-right panel_toolbox">
                    <button class="btn btn-primary" type="button" ui-sref="^.add">Create TSP</button>
                </div>*@
        </div>
        <div class="clearfix"></div>
        <table id="datatable-booking" class="table table-striped table-bordered dataTable no-footer">
            <thead>
                <tr>
                    <th>RefNo</th>
                    <th>Partner</th>
                    <th>BookingType</th>
                    <th>PickupDate</th>
                    <th>PickupTime</th>
                    <th>PickupLocation</th>
                    <th>ReturnDate</th>
                    <th>ReturnTime</th>
                    <th>DropLocation</th>
                    <th>BookingStatus</th>
                    <th></th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
        <div class="clearfix"></div>
    </div>
</div>